@import '~bootstrap/scss/bootstrap.scss';

$blue-header: #172B54;

.employee-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.flip-card {
  background-color: transparent;
  width: 310px;
  height: 310px;
  perspective: 1000px;

  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;

    .front {
      background-color: #bbb;
    }

    .back {
      background-color: teal;
      color: white;
      transform: rotateY(180deg);
      align-items: flex-start;
    }

    .front,.back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  &:hover .inner {
    transform: rotateY(180deg);
  }
}

header {
  margin-bottom: 10px;
  background-color: $blue-header;

  &:hover {
    background-color: #fff;
  }

  .header-text {
    font-size: 9vw;
    color: #fff;

    &:hover {
      color: $blue-header;
    }
  }
}

.employee-page {
  .flip-card {
    width: 40vw;
    height: 40vw;

    @media (max-width: 576px) {
      width: 70vw;
      height: 70vw;

      .back {
        font-size: 3vw !important;
      }
    } 

    .back {
      background-color: #933601;
      font-size: 2.3vw;
    }
  }
}